@model IEnumerable<Biblioteca.Frontend.Models.Prestamo>
@{
    ViewData["Title"] = "Index";
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["AlertMessage"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: '¡Éxito!',
                text: '@TempData["AlertMessage"]',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

@if (TempData["WarningMessage"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: '¡Advertencia!',
                text: '@TempData["WarningMessage"]',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

<p>
    <a onclick="showInPopup('@Url.Action("Create", "Prestamos", new { id = 0 }, Context.Request.Scheme)' , '')"
       class="btn btn-sm btn-primary text-white"><i class="fa fa-plus-circle"></i> Nuevo Prestamo</a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Prestamos</h5>
        </div>
        <div class="card-body">
            <table id="prestamo" class="table table-hover table responsive table stripped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Libro</th>
                        <th scope="col">Fecha de prestamo</th>
                        <th scope="col">Fecha de devolucion</th>
                        <th scope="col">Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)</td>
                            <td>@Html.DisplayFor(modelItem => item.Libro.Titulo)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaPrestamo)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaDevolucion)</td>
                            <td>
                                <span class="@(item.EstadoPrestamo == "Pendiente" ? "estado-pendiente" : "estado-disponible") text-white">@Html.DisplayFor(modelItem => item.EstadoPrestamo)</span>
                            </td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Return", "Prestamos", new { id = item.Id }, Context.Request.Scheme)' ,
                    '')" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-arrow-rotate-left"></i></a>
                                <button data-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#prestamo').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Prestamos/Delete/', false);
    </script>
}